Workflow.pdf
Workflow.html
Workflow.tex
Workflow_files/*
Supplements.pdf
*.tsv
*.zip
*.csv
*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.rds
*.txt
*.csv
*.fa
cache*/*
figure*/*
*.log
*.aux
*.bbl
*.blg
*.dvi
*.out
*.fdb_latexmk
*.fls
*.pdf
!figure/Workflow-Overview.svg
!figure/Workflow-Overview.pdf
!figure/Workflow-Schematic.svg
!figure/Workflow-Schematic.pdf
*.Rds
*.tex
.DS_Store
downloads/
*.png
!figure/*.R
