Workflow.pdf
Workflow.html
Workflow.tex
Workflow_files/*
Supplements.pdf
*.tsv
*.zip
*.csv
*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.rds
*.txt
*.csv
*.fa
cache*/*
figure*/*
*.log
*.aux
*.bbl
*.blg
*.dvi
*.out
*.fdb_latexmk
*.fls
!figure/Overview.png
!figure/Overview.svg
*.Rds
*.tex
*.pdf
.DS_Store
downloads/
